{% extends "../commons/common.html" %}
{% block link %}
<link rel="stylesheet" type="text/css" href="/static/css/repository/editor.css" />
{% endblock%}
{% block section %}
<div class="repository-editor-container">
    <div class="repository-editor-header">
        <div class="repository-bread-crumb" v-if="repository.own.name">
            <span class="repository-bread-crumb-item"><a href="/repository">${repository.own.name}</a></span>
            <span class="repository-bread-crumb-item bread-crumb-item-last"><a href="/">${repository.name}</a></span>
        </div>
        <div class="repository-bread-crumb" v-else>
            <span class="repository-bread-crumb-item"><a href="/repository">${user.name}</a></span>
        </div>
    </div>
    <div class="repository-editor-body">
        <div class="rap-tabs">
            <div class="rap-tabs-header">
                <div class="rap-tabs-items-box">
                    <span v-if="repository.models.length" ref="modelTabs">
                        <a href="javascript:void(0);" class="rap-tabs-items" v-for="(model, $index) in repository.models" :key="$index" :data-id="model._id" @click="modelToggle($event, $index, model)" :class="{'rap-tabs-items-selected': !($index)}" :data-selected="!($index)"><i class="icon iconfont">&#xe636;</i>${model.name}</a>
                    </span>
                </div>
                <div class="rap-tabs-add-but-box">
                    <a href="javascript:void(0);" class="add-model-but" @click="addModel($event, repository._id)" :data-item-id="repository._id"><i class="icon iconfont">&#xea21;</i>添加模块</a>
                </div>
            </div>
            <div class="rap-tabs-body">
                <div class="rap-tabs-body-item">
                    <div class="rap-tabs-interface-menus" ref="interfaceMenus">
                            <!-- ${models} -->
                            <!-- ${interfaces} -->
                        <div class="interface-menu-group" v-if="interfaces.length" @mouseout="hiddenAllItemOperation($event)">
                            
                            <div class="interface-menus-item" v-for="(interface, $index) in interfaces" :key="$index" :data-id="$index" :data-id="interface._id" :class="{'interface-menus-item-selected': !($index) }" :data-selected="!($index)">
                                <a href="javascript:void(0);" :title="interface.item_title" class="interface-item" @click="selectInterface($event, $index, interface)" @mouseover.stop="showItemOperation($event, $index, interface)">${interface.name}</a>
                                <span class="interface-item-operations" :class="{'interface-item-operations-overed':interface.overed}">
                                    <a href="javascript:void(0);" class="interface-delete" :data-id="interface._id" @click="interfaceDelete($event, models._id, interface._id)"><i class="icon iconfont">&#xe61c;</i></a>
                                    <a href="javascript:void(0);" class="interface-editor" :data-id="interface._id"  :data-models-id="models._id"><i class="icon iconfont" @click="interfaceEditor($event, repository._id, models._id, interface)">&#xe635;</i></a>
                                </span>
                            </div>
                        </div>
                        <div class="add-interface">
                            <a href="javascript:void(0);" class="add-interface-but" @click="addInterface($event, repository._id, models._id)" :data-model-id="models._id"><i class="icon iconfont">&#xea21;</i>添加接口</a>
                        </div>
                    </div>
                    <div class="rap-tabs-interface-contents">
                        <div class="interface-info" v-if="interface._id">
                            <div class="interface-info-item">
                                <span class="interface-info-name">${interface.name}</span>
                                <span class="interface-info-buts">
                                    <a href="javascript:void(0);" class="interface-delete" :data-id="interface._id" @click="interfaceDelete($event, models._id, interface._id)"><i class="icon iconfont">&#xe61c;</i>删除</a>
                                    <a href="javascript:void(0);" class="interface-move" :data-id="interface._id" :data-model-id="models._id" @click="interfaceMove($event, interface._id, models._id, repository._id)"><i class="icon iconfont">&#xe750;</i>移动</a>
                                </span>
                            </div>
                            <div class="interface-info-item">
                                <span class="interface-info-url-title">地址：</span>
                                <span class="interface-info-url-value"><a :href="interface.mock_url" target="_blank" class="interface-mock">${interface.request.url}</a></span>
                            </div>
                            <div class="interface-info-item">
                                <span class="interface-info-url-title">类型：</span>
                                <span class="interface-info-url-value">${interface.request.type}</span>
                            </div>
                            <div class="interface-info-item">
                                <span class="interface-info-url-title">状态码：</span>
                                <span class="interface-info-url-value">${interface.request.code}</span>
                            </div>
                        </div>
                        <div class="interface-request">
                            <div class="interface-request-title">
                                <div class="interface-respones-title-text">请求参数</div>
                                <div class="interface-respones-title-buts">
                                    <a href="javascript:void(0);" class="preview" :data-id="interface._id" @click="requestPreview" :class="{'preview-active': fieldPreviewActive}"><i class="icon iconfont">&#xe722;</i>预览</a>
                                    <a href="javascript:void(0);" class="export" :data-id="interface._id" @click="exportInterfaceRequest($event, interface._id)"><i class="icon iconfont">&#xe604;</i>导入</a>
                                    <a href="javascript:void(0);" class="add" :data-id="interface._id" @click="addInterfaceRequest($event, interface._id)"><element class="add-icon">@</element>&nbsp;&nbsp;添加</a>
                                </div>
                            </div>
                            <div class="interface-data-table">
                                <div class="interface-data-table-header">
                                    <div class="interface-data-table-cole">名称</div>
                                    <div class="interface-data-table-cole">必选</div>
                                    <div class="interface-data-table-cole">类型</div>
                                    <div class="interface-data-table-cole">规则</div>
                                    <div class="interface-data-table-cole">默认值</div>
                                    <div class="interface-data-table-cole">备注</div>
                                </div>
                                <div class="interface-data-table-body">
                                    <div class="interface-data-table-rows" v-if="interface.fields.length" v-for="(field,$index) in interface.fields" :key="$index">
                                        <div class="interface-data-table-cole">
                                            <a href="javascript:void(0);" :data-id="interface._id" :data-fields-index="$index" class="request-delete"><i class="icon iconfont">&#xe61c;</i></a>
                                            <a href="javascript:void(0);" :data-id="interface._id" :data-fields-index="$index" class="request-editor"><i class="icon iconfont">&#xe635;</i></a>
                                            <span>${field.name}</span>
                                        </div>
                                        <div class="interface-data-table-cole">
                                            <span v-if="field.indispensable">是</span>
                                            <span v-else>否</span>
                                        </div>
                                        <div class="interface-data-table-cole">${field.type}</div>
                                        <div class="interface-data-table-cole" :title="field.roles">${field.roles}</div>
                                        <div class="interface-data-table-cole" :title="field.default">${field.default}</div>
                                        <div class="interface-data-table-cole" :title="field.remark">${field.remark}</div>
                                    </div>
                                </div>
                            </div>
                            <transition name="interface-requset-preview">
                                <div class="interface-requset-preview" v-show="interfaceFieldsPreview">
                                    <div class="interface-requset-preview-header">
                                        <span class="preview-header-title">请求参数模板</span>
                                        <span class="preview-header-title">请求参数数据 <a href="javascript:void(0);" class="request-mock-refresh" @click="requestMOckRefresh($event, interface)"><i class="icon iconfont">&#xe80e;</i></a></span>
                                    </div>
                                    <div class="interface-requset-preview-body">
                                        <div class="preview-body-data">
                                            <pre>${interface.fieldsFormateMockTemplate}</pre>
                                        </div>
                                        <div class="preview-body-data">
                                            <pre>${interface.fieldsFormateMockData}</pre>
                                        </div>
                                    </div>
                                </div>
                            </transition>
                        </div>
                        <div class="interface-respones">
                            <div class="interface-respones-title">
                                <div class="interface-respones-title-text">响应内容</div>
                                <div class="interface-respones-title-buts">
                                    <a href="javascript:void(0);" class="preview" :data-id="interface._id" @click="responsePreview" :class="{'preview-active': responsePreviewActive}"><i class="icon iconfont">&#xe722;</i>预览</a>
                                    <a href="javascript:void(0);" class="export" :data-id="interface._id" @click="exportInterfaceResponse($event, interface._id)"><i class="icon iconfont">&#xe604;</i>导入</a>
                                    <a href="javascript:void(0);" class="add" :data-id="interface._id" @click="addInterfaceResponse($event, interface._id)"><element class="add-icon">@</element>&nbsp;&nbsp;添加</a>
                                </div>
                            </div>
                            <div class="interface-data-table">
                                    <div class="interface-data-table-header">
                                        <div class="interface-data-table-cole">名称</div>
                                        <div class="interface-data-table-cole">必选</div>
                                        <div class="interface-data-table-cole">类型</div>
                                        <div class="interface-data-table-cole">规则</div>
                                        <div class="interface-data-table-cole">默认值</div>
                                        <div class="interface-data-table-cole">备注</div>
                                    </div>
                                    <div class="interface-data-table-body">
                                        <div class="interface-data-table-rows" v-if="interface.response.length" v-for="(response, $index) in interface.response" :key="$index">
                                            <div class="interface-data-table-cole">
                                                <a href="javascript:void(0);" :data-id="interface._id" :data-fields-index="$index" class="response-delete"><i class="icon iconfont">&#xe61c;</i></a>
                                                <a href="javascript:void(0);" :data-id="interface._id" :data-fields-index="$index" class="response-editor"><i class="icon iconfont">&#xe635;</i></a>
                                                <span>${response.name}</span></div>
                                            <div class="interface-data-table-cole">
                                                <span v-if="response.indispensable">是</span>
                                                <span v-else>否</span>
                                            </div>
                                            <div class="interface-data-table-cole">${response.type}</div>
                                            <div class="interface-data-table-cole" :title="response.roles">${response.roles}</div>
                                            <div class="interface-data-table-cole" :title="response.default">${response.default}</div>
                                            <div class="interface-data-table-cole" :title="response.remark">${response.remark}</div>
                                        </div>
                                    </div>
                                </div>
                                <transition name="interface-response-preview">
                                    <div class="interface-response-preview" v-show="interfaceResponsesPreview">
                                        <div class="interface-response-preview-header">
                                            <span class="preview-header-title">请求参数模板</span>
                                            <span class="preview-header-title">请求参数数据<a href="javascript:void(0);" class="request-mock-refresh" @click="responseMOckRefresh($event, interface)"><i class="icon iconfont">&#xe80e;</i></a></span>
                                        </div>
                                        <div class="interface-response-preview-body">
                                            <div class="preview-body-data">
                                                <pre>${interface.responseFormateMockTemplate}</pre>
                                            </div>
                                            <div class="preview-body-data">
                                                <pre>${interface.responseFormateMockData}</pre>
                                            </div>
                                        </div>
                                    </div>
                                </transition>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 添加模块 dialog -->
    <transition name="rap-dialog">
        <div class="rap-dialog add-model" v-show="rapDialogAddModel">
            <div class="rap-dialog-marker"></div>
            <div class="rap-dialog-popup" ref='rapDialogAddMOdel'>
                <div class="rap-dialog-header">
                    <div class="rap-dialog-title">添加模块</div>
                    <div class="rap-dialog-close">
                            <a href="javascript:void(0);" class="rap-dialog-close-but" @click="rapDialogClose"><i class="icon iconfont">&#xe6b7;</i></a>
                    </div>
                </div>
                <div class="rap-dialog-body">
                    <div class="add-model-form">
                        <div class="add-model-form-items" style="display: none;">
                            <label for="item_id">ID：</label>
                            <input type="hidden" name="item_id" placeholder="id" v-model="modelForm.item_id" />
                        </div>
                        <div class="add-model-form-items" style="display: none;">
                            <label for="id">ID：</label>
                            <input type="hidden" name="id" placeholder="id" v-model="modelForm.id" />
                        </div>
                        <div class="add-model-form-items">
                            <label for="name" class="indispensable">名称：</label>
                            <input type="text" name="name" placeholder="模块名称" v-model="modelForm.name" />
                        </div>
                        <div class="add-model-form-items">
                            <label for="remark">描述：</label>
                            <textarea name="remark" id="remark" cols="30" rows="10" v-model="modelForm.remark">描述</textarea>
                        </div>
                    </div>
                </div>
                <div class="rap-dialog-footer">
                    <a href="javascript:void(0);" class="add-model-form-submit" @click="addModelFormSubmit">提交</a>
                    <a href="javascript:void(0);" class="add-model-form-cancle" @click="addModelFormCancle">取消</a>
                </div>
            </div>
        </div>
    </transition>

    <!-- 添加接口 dialog -->
    <transition name="rap-dialog">
            <div class="rap-dialog add-model" v-show="rapDialogAddInterface">
                <div class="rap-dialog-marker"></div>
                <div class="rap-dialog-popup" ref='rapDialogAddInterface'>
                    <div class="rap-dialog-header">
                        <div class="rap-dialog-title">${rapDialogAddInterfaceText}</div>
                        <div class="rap-dialog-close">
                            <a href="javascript:void(0);" class="rap-dialog-close-but" @click="rapDialogClose"><i class="icon iconfont">&#xe6b7;</i></a>
                        </div>
                    </div>
                    <div class="rap-dialog-body">
                        <div class="add-model-form">
                            <div class="add-model-form-items" style="display: none;">
                                <label for="uid">UID：</label>
                                <input type="hidden" name="uid" placeholder="uid" v-model="interfaceForm.uid" />
                            </div>
                            <div class="add-model-form-items" style="display: none;">
                                <label for="item_id">ID：</label>
                                <input type="hidden" name="item_id" placeholder="item-id" v-model="interfaceForm.item_id" />
                            </div>
                            <div class="add-model-form-items" style="display: none;">
                                    <label for="model_id">模块ID：</label>
                                    <input type="hidden" name="model_id" placeholder="model-id" v-model="interfaceForm.model_id" />
                                </div>
                            <div class="add-model-form-items" style="display: none;">
                                <label for="id">ID：</label>
                                <input type="hidden" name="id" placeholder="id" v-model="interfaceForm.id" />
                            </div>
                            <div class="add-model-form-items">
                                <label for="name" class="indispensable">名称：</label>
                                <input type="text" name="name" placeholder="接口名称" v-model="interfaceForm.name" />
                            </div>
                            <div class="add-model-form-items">
                                <label for="name" class="indispensable">地址：</label>
                                <input type="text" name="name" placeholder="请求地址" v-model="interfaceForm.request.url" />
                            </div>
                            <div class="add-model-form-items">
                                <label for="type" class="indispensable">类型：</label>
                                <select name="type" id="type" v-model="interfaceForm.request.type">
                                    <option :value="type.value" v-for="(type, $index) in interfaceForm.types" :key="$index">${type.label}</option>
                                </select>
                            </div>
                            <div class="add-model-form-items">
                                <label for="code" class="indispensable">状态码：</label>
                                <select name="code" id="code" v-model="interfaceForm.request.code">
                                    <option :value="code.value" v-for="(code, $index) in interfaceForm.codes" :key="$index">${code.label}</option>
                                </select>
                                <!-- <input type="text" name="code" placeholder="模块名称" v-model="interfaceForm.request.url" /> -->
                            </div>
                            <div class="add-model-form-items">
                                <label for="remark">描述：</label>
                                <textarea name="remark" id="remark" cols="30" rows="10" v-model="interfaceForm.remark">描述</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="rap-dialog-footer">
                        <a href="javascript:void(0);" class="add-model-form-submit" @click="addInterfaceFormSubmit" v-if="rapDialogADDInterfaceType">提交</a>
                        <a href="javascript:void(0);" class="add-model-form-submit" @click="editorInterfaceFormSubmit" v-else>提交</a>
                        <a href="javascript:void(0);" class="add-model-form-cancle" @click="addInterfaceFormCancle">取消</a>
                    </div>
                </div>
            </div>
        </transition>

    <!-- 添加接口请求 dialog -->
    <transition name="rap-dialog">
        <div class="rap-dialog add-model" v-show="rapDialogAddInterfaceRequest">
            <div class="rap-dialog-marker"></div>
            <div class="rap-dialog-popup" ref='rapDialogAddInterfaceRequest'>
                <div class="rap-dialog-header">
                    <div class="rap-dialog-title">添加请求属性</div>
                    <div class="rap-dialog-close">
                        <a href="javascript:void(0);" class="rap-dialog-close-but" @click="rapDialogClose"><i class="icon iconfont">&#xe6b7;</i></a>
                    </div>
                </div>
                <div class="rap-dialog-body">
                    <div class="add-model-form">
                        <div class="add-model-form-items" style="display:none;">
                            <label for="id" class="indispensable">ID：</label>
                            <input type="hidden" name="id" placeholder="属性ID" v-model="interfaceRequestForm.id" />
                        </div>
                        <div class="add-model-form-items">
                            <label for="name" class="indispensable">名称：</label>
                            <input type="text" name="name" placeholder="属性名称" v-model="interfaceRequestForm.name" />
                        </div>
                        <div class="add-model-form-items">
                            <label for="name" class="indispensable">类型：</label>
                            <select name="code" id="code" v-model="interfaceRequestForm.type">
                                <option :value="type.value" v-for="(type, $index) in interfaceRequestForm.types" :key="$index">${type.label}</option>
                            </select>
                        </div>
                        <div class="add-model-form-items">
                            <label for="roles">规则：</label>
                            <input type="text" name="roles" placeholder="数据生成规则{'name|0-20':''}" v-model="interfaceRequestForm.roles" />
                            <a href="http://mockjs.com/examples.html#String" target="_blank" class="mock-document" title="点击查看Mock.js文档"><i class="icon iconfont">&#xe611;</i></a>
                        </div>
                        <div class="add-model-form-items">
                            <label for="name" class="indispensable">是否必须：</label>
                            <select name="code" id="code" v-model="interfaceRequestForm.indispensable">
                                <option :value="indispensable.value" v-for="(indispensable, $index) in interfaceRequestForm.indispensables" :key="$index">${indispensable.label}</option>
                            </select>
                        </div>
                        <div class="add-model-form-items">
                            <label for="name" class="indispensable">默认值：</label>
                            <input type="text" name="name" placeholder="默认值" v-model="interfaceRequestForm.default" />
                        </div>
                        <div class="add-model-form-items">
                            <label for="name" class="indispensable">描述：</label>
                            <textarea name="remark" id="remark" cols="30" rows="10" v-model="interfaceRequestForm.remark">描述</textarea>
                        </div>
                    </div>
                </div>
                <div class="rap-dialog-footer">
                    <a href="javascript:void(0);" class="add-model-form-submit" @click="addInterfaceRequestFormSubmit">提交</a>
                    <a href="javascript:void(0);" class="add-model-form-cancle" @click="addInterfaceRequestFormCancle">取消</a>
                </div>
            </div>
        </div>
    </transition>

    <!-- 添加接口响应 dialog -->
    <transition name="rap-dialog">
        <div class="rap-dialog add-model" v-show="rapDialogAddInterfaceResponse">
            <div class="rap-dialog-marker"></div>
            <div class="rap-dialog-popup" ref='rapDialogAddInterfaceResponse'>
                <div class="rap-dialog-header">
                    <div class="rap-dialog-title">添加响应属性</div>
                    <div class="rap-dialog-close">
                        <a href="javascript:void(0);" class="rap-dialog-close-but" @click="rapDialogClose"><i class="icon iconfont">&#xe6b7;</i></a>
                    </div>
                </div>
                <div class="rap-dialog-body">
                    <div class="add-model-form">
                        <div class="add-model-form-items" style="display:none;">
                            <label for="id" class="indispensable">ID：</label>
                            <input type="hidden" name="id" placeholder="属性ID" v-model="interfaceResponseForm.id" />
                        </div>
                        <div class="add-model-form-items">
                            <label for="name" class="indispensable">名称：</label>
                            <input type="text" name="name" placeholder="属性名称" v-model="interfaceResponseForm.name" />
                        </div>
                        <div class="add-model-form-items">
                            <label for="name" class="indispensable">类型：</label>
                            <select name="code" id="code" v-model="interfaceResponseForm.type">
                                <option :value="type.value" v-for="(type, $index) in interfaceResponseForm.types" :key="$index">${type.label}</option>
                            </select>
                        </div>
                        <div class="add-model-form-items">
                            <label for="roles">规则：</label>
                            <input type="text" name="roles" placeholder="数据生成规则{'name|0-20':''}" v-model="interfaceResponseForm.roles" />
                            <a href="http://mockjs.com/examples.html#String" target="_blank" class="mock-document" title="点击查看Mock.js文档"><i class="icon iconfont">&#xe611;</i></a>
                        </div>
                        <div class="add-model-form-items">
                            <label for="name" class="indispensable">是否必须：</label>
                            <select name="code" id="code" v-model="interfaceResponseForm.indispensable">
                                <option :value="indispensable.value" v-for="(indispensable, $index) in interfaceResponseForm.indispensables" :key="$index">${indispensable.label}</option>
                            </select>
                        </div>
                        <div class="add-model-form-items">
                            <label for="name" class="indispensable">默认值：</label>
                            <input type="text" name="name" placeholder="默认值" v-model="interfaceResponseForm.default" />
                        </div>
                        <div class="add-model-form-items">
                            <label for="name" class="indispensable">描述：</label>
                            <textarea name="remark" id="remark" cols="30" rows="10" v-model="interfaceResponseForm.remark">描述</textarea>
                        </div>
                    </div>
                </div>
                <div class="rap-dialog-footer">
                    <a href="javascript:void(0);" class="add-model-form-submit" @click="addInterfaceResponseFormSubmit">提交</a>
                    <a href="javascript:void(0);" class="add-model-form-cancle" @click="addInterfaceResponseFormCancle">取消</a>
                </div>
            </div>
        </div>
    </transition>
    
    <!-- 导入接口请求参数 dialog -->
    <transition name="rap-dialog">
        <div class="rap-dialog add-model" v-show="rapDialogAddInterfaceRequestExport">
            <div class="rap-dialog-marker"></div>
            <div class="rap-dialog-popup" ref='rapDialogAddInterfaceRequestExport'>
                <div class="rap-dialog-header">
                    <div class="rap-dialog-title">导入请求属性<a href="javascript:void(0);" class="formate-json-but" @click="jsonFormateTextToggle" v-html="jsonFormate.label"></a></div>
                    <div class="rap-dialog-close">
                        <a href="javascript:void(0);" class="rap-dialog-close-but" @click="rapDialogClose"><i class="icon iconfont">&#xe6b7;</i></a>
                    </div>
                </div>
                <div class="rap-dialog-body">
                    <div class="requesr-json-editor">
                        <textarea name="request-json" id="request-json" cols="30" rows="30" v-model="interfaceRequestForm.requestJson"></textarea>
                    </div>
                    <!-- <div id="jsoneditor" style="width: 400px; height: 400px;" ref="jsoneditor"></div> -->
                </div>
                <div class="rap-dialog-footer">
                    <a href="javascript:void(0);" class="add-model-form-submit" @click="ExportInterfaceRequestFormSubmit">提交</a>
                    <a href="javascript:void(0);" class="add-model-form-cancle" @click="addInterfaceFormCancle">取消</a>
                </div>
            </div>
        </div>
    </transition>

    <!-- 导入接口响应参数 dialog -->
    <transition name="rap-dialog">
        <div class="rap-dialog add-model" v-show="rapDialogAddInterfaceResponseExport">
            <div class="rap-dialog-marker"></div>
            <div class="rap-dialog-popup" ref='rapDialogAddInterfaceResponseExport'>
                <div class="rap-dialog-header">
                    <div class="rap-dialog-title">导入响应属性<a href="javascript:void(0);" class="formate-json-but" @click="jsonFormateTextToggle" v-html="jsonFormate.label"></a></div>
                    <div class="rap-dialog-close">
                        <a href="javascript:void(0);" class="rap-dialog-close-but" @click="rapDialogClose"><i class="icon iconfont">&#xe6b7;</i></a>
                    </div>
                </div>
                <div class="rap-dialog-body">
                    <div class="response-json-editor">
                        <textarea name="response-json" id="response-json" cols="30" rows="30" v-model="interfaceResponseForm.responseJson"></textarea>
                    </div>
                </div>
                <div class="rap-dialog-footer">
                    <a href="javascript:void(0);" class="add-model-form-submit" @click="exportInterfaceResponseFormSubmit">提交</a>
                    <a href="javascript:void(0);" class="add-model-form-cancle" @click="addInterfaceFormCancle">取消</a>
                </div>
            </div>
        </div>
    </transition>

    <!-- 移动接口 dialog -->
    <transition name="rap-dialog">
        <div class="rap-dialog interface-move" v-show="rapDialogInterfaceMove">
            <div class="rap-dialog-marker"></div>
            <div class="rap-dialog-popup" ref='rapDialogInterfaceMove'>
                <div class="rap-dialog-header">
                    <div class="rap-dialog-title">移动接口</div>
                    <div class="rap-dialog-close">
                        <a href="javascript:void(0);" class="rap-dialog-close-but" @click="rapDialogClose"><i class="icon iconfont">&#xe6b7;</i></a>
                    </div>
                </div>
                <div class="rap-dialog-body">
                    <div class="add-model-form-items">
                        <label for="name" class="indispensable">模块：</label>
                        <select name="code" id="code" v-model="moveInterface.model_id">
                            <option :value="model._id" v-for="(model, $index) in moveInterface.models" :key="$index">${model.name}</option>
                        </select>
                    </div>
                    <div class="add-model-form-items">
                        <label for="name" class="indispensable">选项：</label>
                        <span class="radio-box" ref="radios">
                            <a href="javascript:void(0);" class="radio-items" @click="radioItem($event, radio.value)" v-for="(radio, $index) in moveInterface.radios" :data-selected="radio.selected" :data-value="radio.value"><i class="icon iconfont" v-html="radio.icon" :class="{'radio-selected': radio.selected}"></i>${radio.label}</a>
                        </span>
                    </div>
                </div>
                <div class="rap-dialog-footer">
                    <a href="javascript:void(0);" class="add-model-form-submit" @click="interfaceMoveSubmit">提交</a>
                    <a href="javascript:void(0);" class="add-model-form-cancle" @click="addInterfaceFormCancle">取消</a>
                </div>
            </div>
        </div>
    </transition>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript" src="/static/js/repository/editor.js"></script>
{% endblock %}