html,body,p,div,h1,h2,h3,h4,h5,h6,ul,ol,dl,li,table,tr,td,thead,tbody{
    padding:0;
    margin:0;
    font-size:14px;
    font-family: Microsoft YaHei,STXihei,Georgia,Times New Roman,Arial,sans-serif
}

a{
    text-decoration: none;
}

#app{
    width:100%;
    height:100%;
}

@font-face {
    font-family: 'iconfont';  /* project id 965408 */
    src: url('//at.alicdn.com/t/font_965408_iarfojdromj.eot');
    src: url('//at.alicdn.com/t/font_965408_iarfojdromj.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_965408_iarfojdromj.woff') format('woff'),
    url('//at.alicdn.com/t/font_965408_iarfojdromj.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_965408_iarfojdromj.svg#iconfont') format('svg');
  }

  .iconfont {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    margin:0 5px 0 0;
  }

.header{
    width:100%;
    height:40px;
    background:#24292e;
}

.header-links{
    float:left;
    width:50%;
    height:40px;
}

.nav-link{
    display:block;
    float:left;
    width:auto;
    height:40px;
    line-height: 40px;
    padding:0 10px;
    color:#999;
}

.nav-link:first-child{
    margin: 0 0 0 20px;
}

.nav-link:hover{
    color:#FFF;
}

.header-user-info{
    float:left;
    width:50%;
    height:40px;
}

.section{
    width:100%;
    height:auto;
}

.footer{
    width:100%;
    height:120px;
    text-align:center;
    line-height: 120px;
}