.register-form-container{
    width:100%;
    height:840px;
    background:url("/static/images/bg.png") no-repeat 0 0;
    background-size:100% 100%;
    position: relative;
}

.register-form{
    width:340px;
    height:auto;
    padding:20px;
    background:#FFF;
    border-radius:4px;
    position: absolute;
    top:200px;
    right:200px;
}

.register-form-head{
    width:100%;
    height:50px;
    line-height: 50px;
    text-align: center;
    border-bottom: 1px solid #c1c1c1;
    margin:0 0 20px 0;
}

.register-form-body{
    width:100%;
    height:auto;
}

.register-fotm-item{
    width:100%;
    height:40px;
    margin:0 0 20px 0;
}

.register-fotm-item label{
    display:block;
    float:left;
    width:110px;
    height:40px;
    line-height: 40px;
    text-align: right;
}

.register-fotm-item input{
    display:block;
    float:left;
    width:210px;
    height:38px;
    line-height: 38px;
    text-align:left;
    padding:0 0 0 10px;
    border:1px solid #c1c1c1;
    border-radius:3px;
}

.register-form-submit{
    display:block;
    width:100%;
    height:38px;
    line-height: 38px;
    text-align:center;
    background:#28a745;
    border:1px solid #28a745;
    border-radius:4px;
    color:#fff;
}

.register-login-link{
    display:block;
    float:left;
    width:50%;
    height:38px;
    line-height: 38px;
    text-align: left;
}

.forget-password{
    display:block;
    float:right;
    width:50%;
    height:38px;
    line-height: 38px;
    text-align: right
}