.repository-container{
    width:100%;
    height:auto;
}

.repository-container-content{
    width:100%;
    height:100%;
}

.repository-container-header{
    width:96%;
    height:50px;
    padding:0 2%;
    border-bottom: 1px solid #dcdfe6;
}

#repositorys-types{
    display:inline-block;
    width:200px;
    height:38px;
    line-height: 38px;
    margin:5px 0;
}

#search-repository{
    display:inline-block;
    width:200px;
    height:38px;
    line-height: 38px;
    margin:5px 0;
    border:1px solid #dcdfe6;
    border-radius:4px;
}

.repository-header-create{
    display:inline-block;
    float:right;
    width:120px;
    height:38px;
    line-height: 38px;
    text-align: center;
    margin:5px 0;
    border:1px solid #28a745;
    background:#28a745;
    color:#fff;
    border-radius:4px;
}

.repository-container-body,.repository-container-list-groups{
    width:100%;
    height:auto;
    overflow: hidden;
}

.repository-container-list-item{
    float:left;
    width:20%;
    height:158px;
    border:1px solid #dcdfe6;
    margin:2% 1% 2% 1%;
    border-radius:4px;
    padding:1%;
}

.repository-list-item-head{
    width:100%;
    height:30px;
}

.repository-name{
    display:block;
    float:left;
    width:50%;
    height:30px;
    line-height: 30px;
    text-align: left;
}

.repository-item-link{

}

.repository-operation-buts{
    display:block;
    float:right;
    width:50%;
    height:30px;
    line-height: 30px;
    text-align: right;
}

.repository-operation-buts a{
    color:#606266;
}

.repository-list-item-body{
    width:100%;
    height:98px;
}

.repository-list-item-footer{
    width:100%;
    height:30px;
}

.repository-create-author{
    display:block;
    float:left;
    width:50%;
    height:30px;
    line-height: 30px;
    text-align: left;
}

.repository-create-date{
    display:block;
    float:left;
    width:50%;
    height:30px;
    line-height: 30px;
    text-align: right;
}

.create-repository{
    display:block;
    width:120px;
    height:38px;
    line-height: 38px;
    text-align: center;
    background:#28a745;
    border:1px solid #28a745;
    border-radius:4px;
    color:#FFF;
}

.rap-dialog-marker{
    width:100%;
    height:100%;
    position: absolute;
    left:0;
    top:0;
    background:#000;
    opacity: .3;
    z-index:100;
}

.rap-dialog-popup{
    width:550px;
    height:auto;
    background:#FFF;
    border-radius:4px;
    position: absolute;
    left:100px;
    top:150px;
    z-index:101;
    overflow: hidden;
}

.rap-dialog-popup-enter-active, .rap-dialog-popup-leave-active {
    transition: opacity .5s;
}

.rap-dialog-header{
    width:100%;
    height:auto;
    border-bottom: 1px solid #c1c1c1;
    overflow: hidden;
}

.rap-dialog-head-content{
    width:96%;
    height:auto;
    padding:0 2%;
}

.rap-dialog-head-title{
    float:left;
    width:50%;
    height:50px;
    line-height: 50px;
    text-align: left;
}

.rap-dialog-head-close{
    float:left;
    width:50%;
    height:50px;
    line-height: 50%;
    text-align: right;
    position: relative;
}

.rap-dialog-close{
    display:block;
    width:50px;
    height:50px;
    line-height: 50px;
    text-align: center;
    color:#2e2e2e;
    position: absolute;
    top:0;
    right:0;
}

.rap-dialog-body{
    width:100%;
    height:auto;
    overflow: hidden;
}

.rap-dialog-footer{
    width:100%;
    height:auto;
    overflow: hidden;
}

.rap-form-box{
    width:96%;
    height:auto;
    padding:2%;
}

.rap-form-item{
    width:100%;
    height:40px;
    margin:0 0 20px 0;
}

.rap-form-item label{
    display:block;
    float:left;
    width:90px;
    height:40px;
    line-height: 40px;
    text-align: right;
    font-size: 14px;
    color:#606266;
}

.rap-form-item input{
    display:block;
    float:left;
    width:78%;
    height:38px;
    line-height: 38px;
    padding:0 0 0 2%;
    border-radius:4px;
    border:1px solid #dcdfe6;
    color:#606266;
}

.rap-form-item select{
    display:block;
    float:left;
    width:80%;
    height:38px;
    line-height: 38px;
    padding:0 0 0 2%;
    border-radius:4px;
    border:1px solid #dcdfe6;
    color:#606266;
}

.rap-form-item textarea{
    display:block;
    float:left;
    width:76%;
    height: auto;
    padding:2%;
    border-radius:4px;
    border:1px solid #dcdfe6;
    color:#606266;
}

.create-repository-form-submit{
    display:block;
    float:right;
    width:120px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    padding:0;
    border-radius:4px;
    border:1px solid #67c23a;
    background:#67c23a;
    color:#fff;
    margin:20px 20px 20px 0;
}

.create-repository-form-cancle{
    display:block;
    float:right;
    width:120px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    padding:0;
    border-radius:4px;
    border:1px solid #dcdfe6;
    color:#606266;
    margin:20px 40px 20px 0;
}